SUPABASE_URL = zrevxlwudhkfrzyfdjqg.supabase.co
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpyZXZ4bHd1ZGhrZnJ6eWZkanFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTAxNjU0NDAsImV4cCI6MjA2NTc0MTQ0MH0.7AHReKQGkyqj66QFFxGoffAden4EV1MttrASEHyVQyU
GOOGLE_CLIENT_ID = 234848996473-m6ijouqhn0p09matatc74mp4fpusns4b.apps.googleusercontent.com
